.profile-free {
    color: #1abc9c; /* Change to the desired color for free subscription */
}

.profile-silver {
    color: #9b59b6; /* Change to the desired color for silver subscription */
}

.profile-gold {
    color: #f1c40f; /* Change to the desired color for gold subscription */
}

.profile-default {
    color: #7f8c8d; /* Change to the desired color for unknown or default subscription */
}
