<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Databox</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/base2/home_styles.css">
    {% block css %}{% endblock %}
</head>
<body>
    <div class="container">
        <nav>
            <a class="Logo navbar-brand text-white" href="{{ url_for('main.index') }}">DataBox</a>
            <ul class="navItems">
                {% if current_user.is_authenticated %}
                <li><a href="{{ url_for('main.buy_tokens') }}">Buy Token</a></li>
                <li><a href="{{ url_for('main.profile') }}">Profile</a></li>
                <li class="navItem">
                    <span>{{ current_user.tokens if current_user.tokens else 0}}</span>
                </li>
                {% if current_user.is_admin %}
                <li><a href="{{ url_for('main.add_tokens') }}">Admin: Add Token</a></li>
                {% endif %}
                {% else %}
                <li><a href="{{ url_for('main.login') }}">Login</a></li>
                <li><a href="{{ url_for('main.register') }}">Register</a></li>
                {% endif %}
            </ul>
        </nav>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-danger mt-2">{{ message }}</div>
        {% endfor %}
        {% block content %}{% endblock %}

    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.min.js"></script>
</body>
</html>