{% extends 'base2.html' %}
{% block css %}
    <style>

        .wrapper {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
        }
        .form-group {
            overflow: hidden;
            margin-bottom: 0;
            padding: 15px 15px;
            border-bottom: none;
            position: relative;
            background: #edf2f5;
            border-bottom: 1px solid #e6edf1;
        }
        .form-group label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: .3s all ease;
            font-size: 12px;
            display: block;
            margin-bottom: 0;
            color: #b3b3b3;
        }

        .form-group input {
            background: transparent;
            border: none;
            padding: 0;
            font-size: 20px;
            border-radius: 0;
        }

        .form-group input:active, .form-group input:focus {
            outline: none;
            box-shadow: none;
        }

        .form-group.focus {
            background: #fff;
        }
        

        .form-group.field--not-empty label {
            margin-top: -20px;
        }

        .btn {
            height: 54px;
            padding-left: 30px;
            padding-right: 30px;
            background-color: white;
        }

        .btn:hover {
            background-color: #7f00ff;;
        }
        .cols {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            width: 100vh;
        }
        .cols0 {
          margin-bottom: 20px;
        }

        .btns button { 
            background-color: #1f4068; /* even darker blue */
            color: #e0e0e0; /* light grey */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btns button:hover {
            background-color: #e43f5a; /* contrast color */
        }

        footer {
            background-color: #162447; /* darker blue */
            color: #c0c0c0; /* grey */
            padding: 20px 0;
        }

        footer a {
            color: #e0e0e0; /* light grey */
        }

        footer a:hover {
            color: #e43f5a; /* contrast color */
        }

        .cost_amt {
            right: '30%'
        }
        #cost {
            text-indent: 10px;
        }

        /* Responsive styles */
        @media (max-width: 768px) {
            .wrapper {
                padding: 10px;
            }

            .cols {
                flex-direction: column;
            }

            .cols0 {
                margin-bottom: 20px;
            }

            footer .row {
                flex-direction: column-reverse;
            }

            footer .col-lg-6 {
                margin-bottom: 20px;
            }
        }
    </style>
    
    </style>
{%endblock%}
{% block content %}
    
<div class="wrapper">
  <form action="{{ url_for('main.buy_tokens')}}" method="POST" id="payment-form">
      {{form.hidden_tag() }}
      <div class='row g-4'>
          <div class="col-md-3 cols0">
            <div class="form-group">
                {{ form.num_tokens.label(for='num_tokens', class='form-label text-white') }}
                {{ form.num_tokens(class='form-control input-field', id='num_tokens', data_cost_per_token=cost_per_token) }}
            </div>
          </div>
          <div class="col-md-3 cols0">
              <div class="form-group">
                  {{ form.card_details.label(for='', class='form-label text-white') }}
                  <div id="card-element">
                      <!-- Stripe Elements will mount the card input field here -->
                  </div>
                  <!-- Used to display form errors -->
                  <div id="card-errors" role="alert"></div>
              </div>
          </div>
          <div class="col-md-3 cols0">
            <div class="form-group cost_amt">
              {{ form.cost.label(for='cost', class='form-label cost_amt text-white') }}
              {{ form.cost(class='form-control', id='cost', readonly=true) }}
            </div>
          </div>
      </div>
      {{ form.submit(class='btn btn-primary') }}
  </form>
</div>
 <!-- Footer-->
<footer class="footer bg-dark">
    <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <h4 class="text-uppercase mb-4">About Databox</h4>
            <p class="lead mb-0">Databox is a company dedicated to harnessing AI for superior lead generation. We provide intelligent and scalable solutions for businesses of all sizes.</p>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Databox 2023. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-twitter fs-3"></i></a>
                </li>
            </ul>
        </div>
    </div> 
</footer>
<script src="https://js.stripe.com/v3/"></script>
<script>
    // Create a Stripe client
    var stripe = Stripe('pk_live_51NhdBDD6lZ0uFf896V4XYCYrL42JklZD6LcXEJ4KQLOapA3EJLWlxo4HfBBy8PrNiYbFC1Lg3aU6ADo98PBys28e00oP4yUi4N');

    // Create an instance of Elements
    var elements = stripe.elements();

    // Create an instance of the card Element
    var card = elements.create('card');

    // Add an instance of the card Element into the `card-element` <div>
    card.mount('#card-element');

    // Handle real-time validation errors from the card Element
    card.on('change', function (event) {
        var displayError = document.getElementById('card-errors');
        if (event.error) {
            displayError.textContent = event.error.message;
        } else {
            displayError.textContent = '';
        }
    });

    // Handle form submission
    var form = document.getElementById('payment-form');
    form.addEventListener('submit', function (event) {
        event.preventDefault();

        stripe.createToken(card).then(function (result) {
            if (result.error) {
                // Inform the user if there was an error
                var errorElement = document.getElementById('card-errors');
                errorElement.textContent = result.error.message;
            } else {
                // Send the token to your server
                stripeTokenHandler(result.token);
            }
        });
    });

    // Submit the form with the token ID
    function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
    }
</script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var inputFields = document.querySelectorAll('.col-md-3.cols0 .form-group .input-field');
        inputFields.forEach(function (input) {
            var parentElement = input.parentElement;
            var label = parentElement.querySelector('label');
            input.addEventListener('input', function () {
                if (this.value) {
                    parentElement.classList.add('field--not-empty');
                } else {
                    parentElement.classList.remove('field--not-empty');
                }
            });
        });
    });
</script>

<script>
    document.getElementById('num_tokens').addEventListener('input', function (e) {
        var costPerToken = parseFloat(e.target.getAttribute('data-cost-per-token'));
        var numTokens = parseInt(e.target.value);
        console.log('costPerToken:', costPerToken);
        console.log('numTokens:', numTokens);

        if (numTokens == NaN) {
            document.getElementById('cost').value = 0
        } else {
            document.getElementById('cost').value = costPerToken * numTokens;
        }        

        var costLabel = document.querySelector("label[for='cost']");

        if (document.getElementById('cost').value) {
            costLabel.style.transform = 'translateY(-50%)'
        } else {
            costLabel.style.transform = 'translateY(0)'
        }
    });

</script>

{% endblock %}

