{% extends 'base2.html' %}
{% block css %}
    <style>

        .wrapper {
            width: 100%;
            margin: 0 auto;
            padding: 20px;
        }
        .form-group {
            overflow: hidden;
            margin-bottom: 0;
            padding: 15px 15px;
            border-bottom: none;
            position: relative;
            background: #edf2f5;
            border-bottom: 1px solid #7f00ff;
        }
        .form-group label {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            transition: .3s all ease;
            font-size: 12px;
            display: block;
            margin-bottom: 0;
            color: #7f00ff;
        }

        .form-group input {
            background: transparent;
            border: none;
            padding: 0;
            font-size: 20px;
            border-radius: 0;
        }

        .form-group input:active, .form-group input:focus {
            outline: none;
            box-shadow: none;
        }

        .form-group.focus {
            background: #fff;
        }
        

        .form-group.field--not-empty label {
            margin-top: -20px;
        }

        .btn {
            height: 54px;
            padding-left: 30px;
            padding-right: 30px;
            background-color: white;
        }

        .btn:hover {
            background-color: #7f00ff;;
        }
        .cols {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            width: 100%;
        }
        .cols0 {
            margin-bottom: 20px;
        }

        .btns button {
            background-color: #1f4068; /* even darker blue */
            color: #e0e0e0; /* light grey */
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

        .btns button:hover {
            background-color: #e43f5a; /* contrast color */
        }

        footer {
            background-color: #162447; /* darker blue */
            color: #c0c0c0; /* grey */
            padding: 20px 0;
        }

        footer a {
            color: #e0e0e0; /* light grey */
        }

        footer a:hover {
            color: #e43f5a; /* contrast color */
        }

        /* Responsive styles */
        @media (max-width: 768px) {
            .wrapper {
                padding: 10px;
                flex-direction: column;
            }
            .row {
                flex-direction: column;
            }

            .cols {
                flex-direction: column;
            }

            .cols0 {
                margin-bottom: 20px;
            }

            footer .row {
                flex-direction: column-reverse;
            }

            footer .col-lg-6 {
                margin-bottom: 20px;
            }
        }
    </style>
    
{%endblock%}
{% block content %}
    

<div class="wrapper">
    {% if not current_user.is_authenticated %}
    <div class="cols cols0">
        <span class="topline">Hello</span>
        <h1>We are <span class="multiText">Lead Generation</span></h1>
        <p>This project is a sophisticated lead generation platform, 
            leveraging the power of artificial intelligence to provide 
            high-quality leads for businesses. Our platform is designed 
            to be user-friendly and highly efficient, making lead generation 
            a seamless process for our users.</p>
    </div>
    {% endif %}
    {% if current_user.is_authenticated %}
<!--     <div class="cols cols0">
        <h1>We are <span class="multiText">Lead Generation</span></h1>
    </div>   -->
    <div class="cols cols0">
        <h1>Find your <span class="multiText">Customers</span></h1>
        <p>We search the entire web to find potential leads for your business. Each <span class="multiText">token</span> is an automated spider digesting web content based on your query.
        Some <span class="multiText">spiders</span> die on their journey, others find <span class="multiText">more than you expected!</span></p>
    </div>
    <form action="{{ url_for('main.index') }}" method="POST">
        {{ form.csrf_token }}
        <div class='row g-4'>
            <div class="col-md-3 cols0">
                <div class="form-group">
                    {{ form.query.label(for='query', class='form-label text-white') }}
                    {{ form.query(class='form-control input-field', id='query') }}
                </div>
            </div>
            <div class="col-md-3 cols0">
                <div class="form-group">
                    {{ form.desired_results.label(for='desired_results', class='form-label text-white') }}
                    {{ form.desired_results(class='form-control input-field', id='desired_results') }}
                </div>
            </div>
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>
    {% endif %}
    </div>
</div>
 <!-- Footer-->
<footer class="footer bg-dark">
    <div class="row">
        <div class="col-lg-6 h-100 text-center text-lg-start my-auto">
            <h4 class="text-uppercase mb-4">About Databox</h4>
            <p class="lead mb-0">Databox is a company dedicated to harnessing AI for superior lead generation. We provide intelligent and scalable solutions for businesses of all sizes.</p>
            <p class="text-muted small mb-4 mb-lg-0">&copy; Databox 2023. All Rights Reserved.</p>
        </div>
        <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
            <ul class="list-inline mb-0">
                <li class="list-inline-item me-4">
                    <a href="#!"><i class="bi-twitter fs-3"></i></a>
                </li>
            </ul>
        </div>
    </div> 
</footer>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var inputFields = document.querySelectorAll('.input-field');
        inputFields.forEach(function (input) {
            input.value = '';
        });
    });
</script>

{% endblock %}
