{% extends 'base.html' %}

{% block content %}Contact Info Finder
<div class="container mt-4">
    <h1 class="mb-4">Search for Contact Information</h1>
    <form action="{{ url_for('main.index') }}" method="POST">
        {{ form.csrf_token }}
        <div class="mb-3">
            {{ form.query.label(for='query', class='form-label') }}
            {{ form.query(class='form-control', id='query', placeholder='Enter your search query') }}
        </div>
        <div class="mb-3">
            {{ form.desired_results.label(for='desired_results', class='form-label') }}
            {{ form.desired_results(class='form-control', id='desired_results', placeholder='Enter the number of results to get', min='1') }}
        </div>
        <div class="mb-3">
            {{ form.engine.label(for='engine', class='form-label') }}
            {{ form.engine(class='form-control', id='engine') }}
        </div>
        {{ form.submit(class='btn btn-primary') }}
    </form>

</div>
{% endblock %}