{% extends 'base2.html' %}

{% block title %}Login - Contact Info Finder{% endblock %}
{% block css %}
<style>
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

  .loginContainer { 
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    background-color: #0b202b;
    color: #7f00ff;
    border-radius: 5px;
   
  }

  .card-header {
    background-color: #3d535f;
    color: #fff;
  }

  .form-control {
    background-color: #1a1a2e;
    color: #7f00ff;
    border: none;
  }

  .form-control::placeholder {
    color: #7f00ff;
  }

  .form-actions .btn {
    background-color: #7f00ff;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
  }

  .form-actions .btn:hover {
    background-color: #7f00ff;
  }

  @media only screen and (max-width: 768px) {
    .container {
      padding: 10px;
    }
  }
</style>
{% endblock %}
{% block content %}

<div class="loginContainer">
 
   
      <div class="card"> 
        <div class="card-body">
          <form method="POST" action="{{ url_for('main.login') }}">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.username.label }}<br>
              {{ form.username(class="form-control") }}
              {% if form.username.errors %}
                <small class="text-danger">{{ form.username.errors[0] }}</small>
              {% endif %}
            </div>
            <div class="form-group">
              {{ form.password.label }}<br>
              {{ form.password(class="form-control") }}
              {% if form.password.errors %}
                <small class="text-danger">{{ form.password.errors[0] }}</small>
              {% endif %}
            </div>
            <div class="form-check">
              {{ form.remember_me(class="form-check-input") }}
              {{ form.remember_me.label(class="form-check-label") }}
            </div>
            <div class="form-actions">
              {{ form.submit(class="btn btn-check-submit") }}
            </div>
          </form>
        </div>
      </div>
    
  
</div>
{% endblock %}